{% extends "base_generic.html" %}

{% block content %}

<div id="workwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h4>Online Library</h4>
        <h1>Xavier's School</h1>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>

<div class="container">
  <div class="row centered mt mb">
    <div class="col-lg-8 col-lg-offset-2">
	
  {% if user.is_athenticated or perms.catalog.view_bookinstance %}
    <h1>Borrow: {{ book_instance.book.title }}</h1>
    <br>
	
    <form action="" method="post">
      {% csrf_token %}
	  <div class="col-lg-8 col-lg-offset-3">
      <table>
      {{ form.as_table }}
      </table><br><br>
	  </div>
	  <div class="col-lg-8 col-lg-offset-2">
      <input type="submit" value="Submit">
	  </div>
    </form>
	
	
  {% else %}
    <p>You cannot borrow the book. Log-in as student / teacher first.</p>
  {% endif %}
  
 </div>
 </div>
 </div>
 
{% endblock %}