{% extends "base_generic.html" %}

{% block content %}

<div id="workwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h4>Online Library</h4>
        <h1>Xavier's School</h1>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>

<div class="container">
  <div class="row centered mt mb">
    <div class="col-lg-8 col-lg-offset-2">
  <p>Logged out!</p> <br>
  <a href="{% url 'auth-login'%}">Click here to login again.</a>
  </div>
 </div>
</div>
{% endblock %}