{% extends "base_generic.html" %}

{% block content %}


<div id="workwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <h4>LOGIN OR CREATE AN ACCOUNT</h4>
        <h1>ONLINE LIBRARY</h1>
        <h4>BORROW BOOKS</h4>
      </div>
    </div>
  </div>
  <!-- /container -->
</div>


  {% if error %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  

  {% if signupform.errors %}
    
    {% for field in signupform %}
        {% for error in field.errors %}
            <div class="alert alert-danger" width='80%'>
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}

  {% endif %}
  <!-- <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
  
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->
  

  
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
      <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
      <div class="login-form">

        <form method="post" action="{% url 'auth-login' %}">
          {% csrf_token %}
          <div class="sign-in-htm">
            <div class="group">
              <label for="user" class="label">{{ loginform.username.label_tag }}</label>
              <!-- <input id="user" type="text" class="input"> -->
              {{ loginform.username }}
            </div>
            <div class="group">
              <label for="pass" class="label">{{ loginform.password.label_tag }}</label>
              <!-- <input id="pass" type="password" class="input" data-type="password">             -->
              {{ loginform.password }}
            </div>
            <div class="group">
              <input id="check" type="checkbox" class="check" checked>
              <label for="check"><span class="icon"></span> Keep me Signed in</label>
            </div>
            <div class="group">
              <input type="submit" class="button" name="login" value="login">
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
              <a href="{% url 'password_reset' %}">Forgot Password?</a>
            </div>
          </div>
        </form>

        <form method="post" action="{% url 'auth-login' %}">
          {% csrf_token %}
          <div class="sign-up-htm">

            <!-- username -->
            <div class="group">
              <label for="user" class="label">{{ signupform.username.label_tag }}</label>
              {{ signupform.username }}
            </div>

            <!-- first name -->
            <div class="group">
              <label for="user" class="label">{{ signupform.first_name.label_tag }}</label>
              {{ signupform.first_name }}
            </div>

            <!-- last name -->
            <div class="group">
              <label for="user" class="label">{{ signupform.last_name.label_tag }}</label>
              {{ signupform.last_name }}
            </div>

            <!-- password -->
            <div class="group">
              <label for="pass" class="label">{{ signupform.password.label_tag }}</label>
              {{ signupform.password }}
            </div>

            <!-- confirm password -->
            <div class="group">
              <label for="pass" class="label">{{ signupform.confirm_password.label_tag }}</label>
              {{ signupform.confirm_password }}
            </div>

            <!-- email -->
            <div class="group">
              <label for="pass" class="label">{{ signupform.email.label_tag }}</label>
              {{ signupform.email }}
            </div>

            <!-- ID Number -->
            <div class="group">
              <label for="pass" class="label">{{ signupform.id_num.label_tag }}</label>
              {{ signupform.id_num }}
            </div>

            <div class="group">
              <input type="submit" class="button" name='sign-up' value="Sign Up">
              <input type="hidden" name="next" value="{{ next }}" />
            </div>
            <div class="hr"></div>
            <div class="foot-lnk">
              <label for="tab-1">Already Member?</a>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
  
  
{% endblock %}