{% extends "base_generic.html" %}
{% load custom_tags %}

{% block content %}
    <h1>Profile</h1>

    
    {% if user.is_authenticated %}
        <br>
        <p>Username: {{ user.username }}</p>
        <p>First name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>ID Number: 11717777</p>
        <p><a href="{% url 'password_change' %}">Change password?</a></p>
        <p></p>
        
        {% if user|has_group:"Student/Teacher" %} 
              <!-- <li><a href="{% url 'my-borrowed' %}">My Borrowed</a></li> -->
            
            <br>
            {% if bookinstance %}
            <p>Books Borrowed:</p>
            <ul>                
                {% for bookinst in bookinstance %} 
                    {% if bookinst.borrower == user %}
                    <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                        <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})        
                        {% if perms.catalog.can_mark_returned %}- <a href="{% url 'renew-book-librarian' bookinst.id %}">Renew</a>  {% endif %}
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>

            {% else %}
                <p>There are no books borrowed.</p>
            {% endif %}       

            <br>
            <p>Books Reviewed:</p>             
            {% for b in booksreviewed %}
                {%  for r in b.reviews.all %}
                    {% if r.reviewer == user %}
                    <ul>
                        <p>Title: {{ b.title }}</p>
                        <li>{{ r.review }}</li>
                    </ul>
                    {% endif %}
                {%  endfor %}
            {% endfor %}
            
        {% endif %}
    {% else %}
      <p>Login first</p>
    {% endif %}       
{% endblock %}