{% extends "base_generic.html" %}
{% load custom_tags %}

{% block content %}
    <h1>Profile</h1>

    
    {% if user.is_authenticated %}
        <p>First name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>ID Number: 11717777</p>
        <p></p>
        
        {% if user|has_group:"Student/Teacher" %} 
              <!-- <li><a href="{% url 'my-borrowed' %}">My Borrowed</a></li> -->
                
            {% if bookinstance_list %}
            <ul>
                {% for bookinst in bookinstance_list %} 
                <li class="{% if bookinst.is_overdue %}text-danger{% endif %}">
                    <a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a> ({{ bookinst.due_back }})        
                </li>
                {% endfor %}
            </ul>

            {% else %}
                <p>There are no books borrowed.</p>
            {% endif %}       
        {% endif %}
    {% else %}
      <p>Login first</p>
    {% endif %}       
{% endblock %}